/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  float: right; // Aligns the container to the right
  margin-top: 0; // Ensures there is no margin on top, aligning it at the top
  position: relative; // Keeps the positioning relative to its normal flow
  top: 0; // Ensures it sticks to the top of its container

  // Additional styles can be nested here, e.g., for images
  img {
    display: block; // Makes images block to fill the container, if needed
    max-width: 100%; // Ensures images are responsive and fit within the container
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
